/*el asterisco es como un comodin, que seria que le aplica a todos los elementos, es un "general" despues si existen particulares definiciones, se aplicaran esas, por eso es cascada style*/
nav ul{
    display: flex;
    justify-content: center;
    list-style: none;
}
* {
    /*reinicio los valores por defecto*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
  }
  
  *{
    font-family: Arial, sans-serif;
    background-color: lightgrey;
  }
  section#hero{
background-color: gray;
display: flex;
flex-direction: column; 
justify-content: center;
align-items: center;
}
  h1{
    font-size: 3rem;
    background-color: gray;
  }

 h2{
  font-size: 2rem;
  background-color: gray;
}
.projects-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    

}
.project-detail{
border: 5px solid lightseagreen;
width: 300px;
border-radius: 5px;
margin: 20px;
}
.project-detail img{
     width: 100%;
}