* {
  /*reinicio los valores por defecto*/
  margin: 0;
  padding: 0;
  box-sizing: border-box;  
}

nav ul{
    display: flex;
    justify-content: center;
    list-style: none;
}

  *{
    font-family:cursive;
    }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: gray;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  section#hero{
background-color: gray;
display: flex;
flex-direction: column; 
justify-content: center;
align-items: center;
}
  h1{
    font-size: 3rem;
    background-color: gray;
  }
.imagen{
  float: right;
}
 h2{
  font-size: 2rem;
  background-color: gray;
}
.projects-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}
.project-detail{
border: 5px solid lightseagreen;
width: 300px;
border-radius: 5px;
margin: 20px;
}
.project-detail img{
     width: 100%;
}
h1 {
  text-align: center;
  font-size: 36px;
  font-weight: bold;
  margin-top: 50px;
}
.container {
  width: 80%;
  margin: 0 auto;
}
.section {
  margin-top: 50px;
}
.section-title {
  font-size: 24px;
  font-weight: bold;
}
.section-content {
  margin-top: 20px;
  font-size: 18px;
}